{% extends 'base.html' %}

{% block title %}
Private Policy
{% endblock %}

{% block content %}
<h2>Private Policy</h2>

<h3>個人情報保護に関する基本方針</h3>

UkeireHouses.comの（以下、「当サイト」といいます。）の運営に際し、お客様のプライバシーを尊重し個人情報に対して十分な配慮を行うと共に大切に保護し、適正な管理を行うことに努めております。

１．個人情報利用目的
お客様の個人情報は、原則として、当社のサービスに関する情報をご提供する目的や当社に対するご意見、ご要望に関する今後の改善、及び、問い合せに関するご回答のために利用致します。
それ以外の目的で利用する場合は個人情報をご提供いただく際に予め目的を明示しておりますのでご確認下さい。

２．第三者への情報提供
お客様の個人情報は、以下の場合を除き第三者に開示、提供、譲渡、することは致しません。

1.法的拘束力がある第三者機関からの開示要求がある場合
2.お客様本人の同意があった場合

３．クッキー（Cookie）の利用
当サイトではクッキー（Cookie）を利用しております。クッキー（Cookie）を使用する目的はお客様が当サイトを再訪された際に便利にお使い頂くことを目的に使用しており、お客様のプライバシーを侵害するものではありません。

４．SSL（Secure Socket Layer）について
当サイトではお客様の個人情報を保護するために「SSL（Secure Socket Layer）」に対応しています。

「SSL（Secure Socket Layer）」とは、インターネット上で情報を暗号化して送受信するプロトコル（通信手順）です。

各種Webブラウザなどのセキュリティに対応したブラウザを利用することで、お客様が入力される名前や住所あるいは電話番号などの個人情報が自動的に暗号化されて送受信されるため、万が一、送信データが第三者に傍受された場合でも、内容が読み取られる心配はありません。

「SSL（Secure Socket Layer）」に対応していないブラウザをご利用の場合は、ウェブサイトにアクセスできなかったり、情報の入力ができない場合があります。

５．適用範囲
本プライバシーポリシーは当サイト内にのみ適用されます。当サイトからリンクの張られている他のサイトでの個人情報保護については一切の責任を負いません。

{% endblock %}
